<div class="container">
  <h2>Create new Restaurant</h2>
  <br >
    <%= render "form", restaurant: @restaurant%>
    <br>
    <br>
    <%= link_to "Go Back", restaurants_path, class: "btn btn-secondary" %>
</div>
